@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

body {
	font-family: 'Lato', sans-serif;
	}

.breadcrumps {
	padding: 0;
	color: #555;
}

.breadcrumps li {
	display: inline-block;
	margin-right: 10px;
}

.breadcrumps li:not(:last-child)::after {  
    content:"";
    margin: 0 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/chevron.svg) no-repeat center;
    background-size: contain;
    opacity: .5;
}

.breadcrumps li a {
	text-decoration: none;
	color: #7a99f3;
	transition:  color .25s ease;
}

.breadcrumps li a:hover,
.breadcrumps li a:focus,
.breadcrumps li a:active {
	color: #4963ad;
}



.circle {
	width: 300px;
	height: 300px;
	font-size: 0;
	border-radius: 50%;
	overflow: hidden;
}

.sector {
	width: 50%;
	height: 50%;
	display: inline-block;
	font-size: 16px;
}

.circle .sector:nth-child(1) {
	background: #ad4960;
	/* border-top-left-radius: 100%; */
}

.circle .sector:nth-child(2) {
	background: #e3c01f;
	/* border-top-right-radius: 100%; */
}

.circle .sector:nth-child(3) {
	background: #3c8e10;
	/* border-bottom-left-radius: 100%; */
}

.circle .sector:nth-child(4) {
	background: #157bd2;
	/* border-bottom-right-radius: 100%; */
}



.flover {
	width: 300px;
	height: 300px;
	font-size: 0;
	/* border-radius: 50%;
	overflow: hidden; */
}

.flover .sector:nth-child(1) {
	background: #ad4960;
	border-radius: 60px 100px 0 100px;

}

.flover .sector:nth-child(2) {
	background: #e3c01f;
	border-radius: 100px 60px 100px 0;
}

.flover .sector:nth-child(3) {
	background: #3c8e10;
	border-radius: 100px  0 100px 60px;
}

.flover .sector:nth-child(4) {
	background: #157bd2;
	border-radius: 0 100px 60px 100px;
}


.links {
	list-style-type: none;
}

.links li {
	margin: 10px;
}

.links li a {
	text-decoration: none;
	color: #555;
	padding-left: 30px;
	opacity: .7;
	transition: opacity .25s ease;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}

.links a:hover,
.links a:focus,
.links a:active {
	opacity: 1; 
}

.links li a[target="_blank"] {
	background-image: url(../img/001-windows.svg);
}

.links li a[href^="http"] {
	background-image: url(../img/004-link.svg);
}

.links li a[href^="mailto:"] {
	background-image: url(../img/002-envelope.svg);
}

.links li a[href^="tel:"] {
	background-image: url(../img/003-smartphone.svg);
}

.links li a[href$=".pdf"] {
	background-image: url(../img/005-google-drive-pdf-file.svg);
}


/* .links li a[href$=".xls"],
.links li a[href$=".xls"] {
	background-image: url(../img/005-google-drive-pdf-file.svg);
} */






/* .breadcrumps li:not(:last-child)::after {  
    content:"";
    margin: 0 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/chevron.svg) no-repeat center;
    background-size: contain;
    opacity: .5;
} */





